.template-output-sequence {
    margin-left: 3px;
    padding-left: 3px;
    border-left: 1px solid #ddd;
}

.template-value-list {
    flex-flow: column;
}

.template-label {
    font-weight: bold;
    font-size: 80%;
    line-height: 125%;
}